@use '../../styles/mixins' as *;
@use '../../styles/mixins/index' as *;

.catalog__page {
  width: 100%;
  @include centeredFlexBox;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 120px;

  @include mobile {
    margin-top: 24px;
    margin-bottom: 32px;
  }
}

.catalog {
  width: 1224px;
  display: flex;
  flex-direction: column;

  @include mobile {
    width: 361px;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 8px;
    margin-bottom: 24px;

    &__title {
      @include text-h1;
      font-size: 40px;
    }

    &__paragraphs {
      display: flex;
      flex-direction: column;
      gap: 0px;
      &__p {
        @include text-h3;
      }
    }
  }

  &__sort {
    @include centeredFlexBox;
    align-self: flex-end;
    gap: 8px;
    margin-bottom: 16px;

    &__sort-by {
      color: #868E96;
      @include text-h3;
    }

    // &__sort-button {
    //   @include centeredFlexBox;
    //   @include text-h3;
    //   width: 141px;
    //   height: 57px;
    //   gap: 8px;
    //   padding-block: 16px;
    //   padding-inline: 26px;

    //   background-color: #F1F1F4;
    //   border: none;
    // }
  }

  &__main {
    display: flex;
    justify-content: space-between;
  }
}

.arrow {
  width: 16px;
  height: 16px;
}

.catalog-items-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}