@use '../../styles/mixins' as *;
@use '../../styles/mixins/index' as *;

.cart-details-page {
  @include centeredFlexBox;
  flex-direction: column;
  margin-top: 72px;
  margin-bottom: 120px;
  width: 100%;
  position: relative;
  
  &__nav {
    display: flex;
    margin-bottom: 64px;
    
    &-links {
      @include centeredFlexBox;
      @include disableLinkStyles;
      @include text-h2;
      font-size: 16px;
      cursor: pointer;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #000;

    &__title {
      @include text-h1;
      font-size: 40px;

      margin-bottom: 27px;
    }

    &__points {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &-point {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }

    &__about {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      gap: 8px;

      &__title {
        @include text-h2;
        font-size: 24px;
      }

      &__p {
        @include text-h3;
        max-width: 790px;
        margin-bottom: 48px;
      }

      &__register {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-bottom: 80px;
        border-bottom: 1px solid #000;

        &__button {
          @include text-h2;
        }

        &__signin {
          display: flex;
          align-items: center;
          gap: 16px;
          @include text-h3;
          font-size: 16px;

          &__link {
            color: #000;
          }
        }
      }
    }

    &__person-info {
      display: flex;
      flex-direction: column;
      margin-top: 24px;
      margin-bottom: 120px;

      &__title {
        @include text-h2;
        font-size: 24px;
        margin-bottom: 24px;
      }

      &__details {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        align-self: flex-start;

        &__name {
          @include text-h2;
          font-size: 20px;
        }

        &__d {
          @include text-h2;
          font-size: 20px;
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
    }
  }
}

.icon {
  height: 24px;
  width: 24px;
}


.cart-details-page__nav-link {
  transform: rotate(90deg);
}

.cart-details-page__container {
  width: 1224px;
}

.point-text {
  @include text-h3;
}

.aid {
  @include text-h2;

  font-size: 20px;
  color: #2277FF;
  background-color: #A6D2FF;
  border-radius: 5%;

  padding: 8px;
}

.white-style {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.offer {
  &__button {
    margin-bottom: 48px;
    @include blueButton;
  }

  &__wrong {
    margin-top: 80px;
    margin-bottom: 80px;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 18px;
    line-height: 140%;
  }
}

.status {
  @include centeredFlexBox;
  @include text-h3;
  background-color: #D0BFFF;
  border-radius: 10%;

  gap: 8px;
  padding: 8px;
}

.status__dot {
  object-fit: contain;
  width: 8px;
  height: 8px;
}

.status-box {
  display: flex;
  align-items: center;
  gap: 16px;
}

.container {
  display: flex;
  gap: 16px;
}