@use '../../styles/variables' as *;
@use '../../styles/mixins/index' as *;

.forgot {
  flex: 1;
  display: flex;
  justify-content: center;

  &__container {
    width: 600px;
    display: flex;
    flex-direction: column;
  }

  &__back {
    @include text-small-med;

    display: inline-flex;
    align-items: center;
    gap: 4px;

    color: $color-gray-9;
    text-decoration: none;
    margin-bottom: 16px;
  }

  &__back-icon {
    width: 24px;
    height: 24px;
  }

  &__title {
    @include text-h1;
    margin-bottom: 8px;
  }

  &__subtitle {
    @include text-body-regular;
    margin-bottom: 24px;
    color: $color-gray-7;
  }

  &__form {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 4px;

    @include mobile {
      align-items: stretch;
    }
  }

  &__label {
    @include text-body-med;
    padding: 0 16px;
  }

  &__input {
    @include input-base;
    @include input-hover;
    @include input-focus;
  }

  &__button {
    @include button-base;
    @include button-primary;
    width: 100%;
    margin-top: 32px;

    &:disabled {
      @include button-disabled;
    }

    @include mobile {
      margin-top: auto;
    }
  }

  &__mt {
    margin-top: 32px;

    @include mobile {
      margin-top: 52px;
    }
  }
}
