@use '../../../styles/mixins' as *;
@use '../../../styles/mixins/index' as *;

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000, $alpha: 0.4);
  top: 0;
  left: 0;
  @include centeredFlexBox;
}

.modal__content {
  width: 600px;
  height: 356px;
  padding: 24px;
  gap: 24px;
  top: 272px;
  left: 420px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  @include mobile {
    width: 361px;
    height: 272px;
  }
}

.modal__title {
  @include text-h3;
  font-size: 24px;
  text-align: center;

  @include mobile {
    font-size: 18px;
  }
}

.modal__desc {
  @include text-h3;
  text-align: center;
  font-weight: 400;
}

@media (max-width: 639px) {
  .modal__content {
    padding: 15px;
  }

  .modal__title {
    font-size: 16px;
  }
}

.modal__button {
  @include blueButton;
  @include text-h3;
  width: 100%;
  
  @include mobile {
    font-size: 18px;
  }
}

.modal__photo {
  height: 120px;
  width: 120px;
  justify-self: center;

  @include mobile {
    height: 80px;
    width: 80px;
  }
}