@use '../../../styles/mixins' as *;

.profile-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000, $alpha: 0.4);
  top: 0;
  left: 0;
  @include centeredFlexBox;
}

.profile-modal__content {
  width: 600px;
  height: 356px;
  padding: 24px;
  gap: 24px;
  top: 272px;
  left: 420px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.profile-modal__title {
  @include p-styles;
  font-size: 24px;
  text-align: center;
}

.profile-modal__desc {
  @include p-styles;
  text-align: center;
}

@media (max-width: 639px) {
  .profile-modal__content {
    padding: 15px;
  }

  .profile-modal__title {
    font-size: 16px;
  }
}

.profile-modal__button {
  @include blackButton;
  @include p-styles;
  width: 100%;
}

.profile-modal__photo {
  height: 120px;
  width: 120px;
  justify-self: center;
}