@use '../../styles/variables' as *;
@use '../../styles/mixins/index' as *;

.auth-layout {
  @include flex-column;
  min-height: 100vh;
  max-width: 2400px;
  margin: 0 auto;
  background: $color-white;

  &__header {
    margin: 24px 108px 0;
    height: $control-height;
    @include flex-center;
    justify-content: flex-start;
  }

  &__brand {
    @include flex-center;
    gap: 4px;
    text-decoration: none;
    color: $color-black;
  }

  &__logo {
    width: 40px;
    height: 40px;
  }

  &__title {
    @include africad;
    @include text-color-states;
  }

  &__form {
    @include flex-center;
    margin-top: 88px;
    padding-bottom: 200px;
  }

  &__container {
    width: $container-width;
  }
}

/* =========================
   FORM BASE
========================= */

.auth-form {
  display: flex;
  flex-direction: column;

  &__header {
    @include flex-column(8px);
    margin-bottom: 24px;
  }

  &__title {
    @include text-h1;
    margin: 0;
  }

  &__subtitle {
    @include text-body-regular;
  }

  &__step {
    display: flex;
    gap: 8px;
    margin-bottom: 24px;
    @include text-small-med;
  }

  &__back {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    @include flex-center;

    img {
      @include icon-24;
    }
  }

  &__fields {
    @include flex-column(16px);
  }

  /* =========================
     LABEL
  ========================= */

  &__label {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__label-text {
    @include text-body-med;
    padding: 0 16px;
  }

  /* =========================
     INPUT
  ========================= */

  &__input {
    @include input-base;
    @include input-hover;
    @include input-focus;
    @include input-disabled;

    &--error {
      border-color: $color-error;
    }
  }

  /* =========================
     ERROR (HELPER)
  ========================= */
  &__helper {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 4px;

    @include text-small-reg;
    color: $color-gray-6;

    img {
      width: 16px;
      height: 16px;
    }

    &--error {
      color: $color-error;
    }
  }

  /* =========================
     BUTTON
  ========================= */

  &__button {
    width: 100%;
    @include button-base;
    @include button-primary;
    @include text-body-med;
  }

  &__actions {
    @include flex-column;
    align-items: center;
  }

  /* =========================
     SIGN IN LINK
  ========================= */

  &__signin {
    margin-top: 16px;
    @include flex-center;
    gap: 16px;
    @include text-body;
  }

  &__signin-link {
    @include text-body;
    text-decoration: underline;
    color: $color-primary-500;
  }

  /* =========================
   PHONE INPUT
========================= */

  &__phone {
    display: flex;
    align-items: center;
    height: 59px;
    width: 100%;

    border: 2px solid $color-gray-4;
    border-radius: 4px;
    background: $color-white;
    transition: border-color 0.2s ease;

    /* hover */
    &:not(&--error):hover {
      border-color: $color-gray-6;

      .auth-form__country {
        border-right-color: $color-gray-6;
      }
    }

    /* focus */
    &:not(&--error):focus-within {
      border-color: $color-primary-500;

      .auth-form__country {
        border-right-color: $color-primary-500;
      }
    }

    /* error */
    &--error {
      border-color: $color-error;

      .auth-form__country {
        border-right-color: $color-error;
      }
    }
  }
  &__country {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 16px;

    height: 100%;
    background: $color-gray-1;
    border-right: 2px solid $color-gray-4;

    font-size: 20px;
    line-height: 1.35;
    font-weight: 400;
    color: $color-gray-9;

    img {
      width: 18px;
      height: 18px;
    }
  }

  &__phone-input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 0 16px;

    font-size: 20px;
    line-height: 1.35;
    font-weight: 400;
    color: $color-gray-9;

    &::placeholder {
      font-size: 20px;
      line-height: 1.35;
      color: $color-gray-6;
    }
  }

  /* =========================
     PASSWORD
  ========================= */

  &__password {
    position: relative;
  }

  &__eye {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    @include icon-24;
    cursor: pointer;
  }

  &__global-error-wrapper {
    min-height: 26px;
    width: 100%;
    margin: 8px 0 4px;
  }

  &__global-error {
    color: $color-error;
    @include text-body-regular;
  }

  /* ===== RADIO ===== */

  &__radio-group {
    @include flex-column(16px);
  }

  &__radio-title {
    @include text-body-regular;
    font-weight: 500;
  }

  &__radio {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;

    input {
      display: none;
    }
  }

  &__radio-control {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid $color-primary-500;
    position: relative;
  }

  &__radio-label {
    @include text-body-regular;
    color: $color-gray-9;
  }

  &__radio input:checked + &__radio-control::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $color-primary-500;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__label-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__password-hints {
    margin-top: 4px;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__password-hint {
    display: flex;
    align-items: center;
    gap: 8px;

    @include text-small-reg;
    color: $color-gray-6;

    &-icon {
      width: 16px;
      height: 16px;
      border-radius: 3px;
      flex-shrink: 0;
      background-image: url('../../assets/checkbox-check-gray.svg');
    }

    &.is-valid {
      color: $color-success;

      .auth-form__password-hint-icon {
        background-image: url('../../assets/checkbox-check-green.svg');
      }
    }
  }

  &__checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    margin-top: 8px;
  }

  &__checkbox-box {
    width: 20px;
    height: 20px;
    border: 2px solid $color-gray-4;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;

    &--checked {
      border-color: $color-primary-500;
      background: $color-primary-500;
    }

    img {
      width: 14px;
      height: 14px;
    }
  }

  &__checkbox-text {
    @include text-body-regular;
    color: $color-gray-9;
  }

  /* ===== FORGOT PASSWORD ===== */

  &__forgot-link {
    align-self: flex-end;
    margin-top: 4px;

    @include text-small-med;
    @include text-color-states;
    color: $color-gray-9;
    text-decoration: none;
  }
}
