$font-main: 'Inter', sans-serif;

$color-white: #ffffff;
$color-black: #000000;

$color-grey-0: #F8F9FA;
$color-grey-1: #F1F3F5;
$color-gray-2: #E9ECEF;
$color-gray-3: #DEE2E6;
$color-gray-4: #CED4DA;
$color-gray-5: #ADB5BD;
$color-gray-6: #868E96;
$color-gray-7: #495057;

$color-primary-500: #2277FF;
$color-primary-200: #A6D2FF;
$color-hover: #0051D2;
$color-disabled: #B3D0FF;

$color-error: #D40404;
$color-success: #0EA800;
$color-warning: #FFB121;
$color-information: #4297FF;

$container-width: 600px;
$control-height: 56px;