$font-main: 'Satoshi', sans-serif;

$color-white: #ffffff;
$color-black: #000000;

$color-gray-0: #F8F9FA;
$color-gray-1: #F1F3F5;
$color-gray-2: #E9ECEF;
$color-gray-3: #DEE2E6;
$color-gray-4: #CED4DA;
$color-gray-5: #ADB5BD;
$color-gray-6: #868E96;
$color-gray-7: #495057;
$color-gray-9: #212529;

$color-primary-500: #2277FF;
$color-primary-200: #A6D2FF;
$color-primary-100: #E4F1FF;

$color-hover: #0051D2;
$color-pressed:#003891;
$color-disabled: #B3D0FF;

$color-error: #D40404;
$color-success: #0EA800;
$color-warning: #FFB121;
$color-information: #4297FF;

$container-width: 600px;
$control-height: 56px;

$color-orange-200: #FFD8A8;
$color-orange-500: #FF922B;

$color-purple-200: #D0BFFF;
$color-purple-500: #845EF7;

$color-green-200: #B2F2BB;
$color-green-500: #38C13C;

$color-error-200: #FFC3AA;
$color-error-300: #FF9B7F;
$color-error-400: #FF7460;