@mixin centeredFlexBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin p-styles {
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 135%;
}

@mixin disableLinkStyles {
  text-decoration: none;
  color: black;
}

@mixin blueButton {
  background-color: #2277FF;
  border: none;
  border-radius: 3%;
  color: #fff;
  width: 288px;
  height: 57px;
  gap: 8px;
  padding: 16px;
  @include p-styles;
  // margin-top: 60px;
  cursor: pointer;
}