@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins/index' as *;

.profile {
  &__header {
    @include flex-column;
  }

  &__title {
    @include text-h4;
    margin-bottom: 24px;
  }

  &__form {
    margin-bottom: 40px;
  }

  &__label {
    display: block;
    padding: 0 16px;
    margin-bottom: 4px;
    color: $color-gray-9;
    @include text-body-med;
  }

  &__input {
    margin-bottom: 16px;
    @include input-base;
    @include input-hover;
  }

  &__role {
    height: $control-height;

    @include flex-center;
    justify-content: flex-start;
    gap: 8px;
  }

  &__role-label {
    @include text-body-regular;
    font-weight: 500;
  }

  &__role-value {
    @include text-body-regular;
  }

  &__actions {
    @include flex-between;
    justify-content: flex-end;
  }

  &__save-btn {
    width: 160px;
    @include button-base;
    @include button-disabled;
    @include text-body-med;
    border: none;

    &--active {
      @include button-primary;
    }
  }

  &__contacts {
    margin-top: 40px;
  }

  &__contacts-title {
    @include text-h4;
    margin-bottom: 24px;
  }

  &__contact-row {
    display: grid;
    grid-template-columns: 1fr 104px;
    gap: 24px;
    align-items: end;
    margin-bottom: 16px;
  }

  &__contact-field {
    @include flex-column(4px);
  }

  &__contact-label {
    @include text-body-med;
    padding: 0 16px;
  }

  &__contact-input {
    @include input-base;
    @include input-disabled;

    background-color: $color-gray-2;
    color: $color-gray-6;

    font-size: 20px;
  }

  &__contact-btn {
    width: 104px;
    @include button-base;
    border: none;
    @include button-primary;
    @include text-body-med;
  }
}
