@use '../../styles/mixins' as *;

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;

  &__nav {
    max-width: 1224px;
    width: 100%;
    padding-inline: 24px;
    display: flex;
    flex-direction: column;

    &__wings-sector {
      max-width: 207px;
      height: 46px;
      @include centeredFlexBox;
      margin-bottom: 16px;
      gap: 4px;

      &__title {
        font-weight: 500;
        font-size: 23px;
        line-height: 100%;
      }
    }

    &__discribe {
      @include p-styles;
      margin-bottom: 40px;
    }

    &__logo {
      width: 46px;
      height: 46px;
    }

    &__contacts {
      display: flex;
      gap: 128px;
    }

    &__support {
      @include p-styles;
      max-width: 320px;
    }

    &__explores {
      display: flex;
      flex-direction: column;
      gap: 40px;

      &__requests {
        @include p-styles;
        @include disableLinkStyles;
      }

      &__offers {
        @include p-styles;
        @include disableLinkStyles;
      }

      &__social {
        @include p-styles;

        &__media {
          display: flex;
          gap: 24px;
        }
      }
    }

    &__end {
      margin-top: 80px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__wings {
        @include p-styles;
        color: #868E96;
      }

      &__terms {
        @include p-styles;
        color: #868E96;
      }
    }
  }
}