// @use '../../styles/variables' as *;
@use "../../styles/mixins.scss" as *;

.filters-container {
  display: flex;
  gap: 24px;
  max-width: 808px;
  flex-wrap: wrap;
}

.clear {
  font-family: Satoshi Variable;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 140%;
  color: #212529;
  @include centeredFlexBox;
  cursor: pointer;
}