@use '../../styles/mixins' as *;
@use '../../styles/mixins/index' as *;

.catalog__container {
  @include centeredFlexBox;
  flex-direction: column;
  gap: 16px;
}

.catalog__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 24px;

  @include mobile {
    grid-template-columns: repeat(1, 2fr);
    gap: 16px;
  }
}

.catalog__load-more-button {
  @include centeredFlexBox;
  @include text-h3;
  cursor: pointer;
  width: 184px;
  height: 57px;
  gap: 8px;
  padding: 16px;
}

.arrow {
  height: 24px;
  width: 24px;
}

.no-results {
  @include centeredFlexBox;
  width: 808px;
  flex-direction: column;

  &__title {
    @include text-h2;
  }
  
  &__p {
    @include text-h3;
  }
}