@use '../../../styles/mixins.scss' as *;
@use '../../../styles/variables' as *;
@use '../../../styles/mixins/index' as *;

.custom-dropdown {
  position: relative;

&__trigger {
  width: 100%;
  height: $control-height;
  padding: 0 16px;

  background: $color-gray-0;
  border: 2px solid $color-gray-4;
  border-radius: 4px;

  cursor: pointer;
  outline: none;
  @include flex-between;

  transition: border-color 0.2s ease, background-color 0.2s ease;

  &:hover:not(.open) {
    border-color: $color-gray-6;
  }

  &:focus,
  &:focus-visible {
    outline: none;
    box-shadow: none;
  }

  &.filled {
    background: $color-white;
    border-color: $color-gray-4;
  }

  &.open {
    border-color: $color-primary-500;
    background: $color-white;
  }

  &.open .custom-dropdown__arrow {
    transform: rotate(180deg);
  }
}

  &__value {
    @include text-body-regular;
    color: $color-gray-6;

    &--selected {
      color: $color-gray-9;
    }
  }

  &__search {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;

    @include text-body-regular;
    color: $color-gray-9;

    &::placeholder {
      @include text-body-regular;
      opacity: 1;
    }
  }

  &__arrow {
    height: 24px;
    width: 24px;
    transition: transform 0.2s ease;
    flex-shrink: 0;
  }

  &__options {
    position: absolute;
    top: calc(100% + 6px);
    width: 100%;

    background: $color-white;
    border: 2px solid $color-gray-4;
    border-radius: 4px;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);

    max-height: 240px;
    overflow-y: auto;
    z-index: 10;
  }

  &__option {
    padding: 16px;
    cursor: pointer;

    @include text-body-regular;

    transition: background-color 0.15s ease;

    &:hover {
      background: $color-gray-1;
    }
  }

  /* ===== MODIFIERS ===== */

  &--lang {
    @include centeredFlexBox;
    gap: 8px;
    width: 80px;
    height: $control-height;
    background-color: $color-gray-1;

    .custom-dropdown__trigger {
      background: transparent;
      border: none;
      padding: 0;
    }

    .custom-dropdown__value {
      color: $color-gray-9;
    }
  }

  &--filter {
    @include centeredFlexBox;
    width: 141px;
    gap: 8px;
    padding: 16px 26px;
    height: $control-height;
    background-color: $color-gray-1;

    .custom-dropdown__trigger {
      padding: 0;
      background: transparent;
      border: none;
    }

    .custom-dropdown__value {
      color: $color-gray-9;
    }
  }
}
