@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as *;
@use '../../../styles/mixins/index' as *;

.custom {
  &__checkbox {
    @include flex-center;
    justify-content: flex-start;
    gap: 8px;
    cursor: pointer;
    @include text-body;
  }

  &__checkbox-box {
    @include flex-center;
    width: 24px;
    height: 24px;
    border: 1px solid $color-gray-7;

    &--checked {
      border-color: $color-black;
    }

    img {
      width: 16px;
      height: 12px;
    }
  }

  &__checkbox-text {
    @include text-body-regular;
  }
}
 