@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as *;
@use '../../../styles/mixins/index' as *;

.custom {
  &__checkbox {
    @include flex-center;
    justify-content: flex-start;
    gap: 8px;
    cursor: pointer;
    @include text-body;
  }

  &__checkbox-box {
    @include flex-center;
    width: 24px;
    height: 24px;
    border: 2px solid #212529;
    border-radius: 20%;

    &--checked {
      border-color: $color-black;
    }
  }

  &__checkbox-text {
    @include text-body-regular;
  }
}
