@use '../variables' as *;
@use './flex' as *;

@mixin button-base {
  height: $control-height;
  padding: 0 16px;
  @include flex-center;
  letter-spacing: 0;
  border-radius: 4px;
  cursor: pointer;
}

@mixin button-secondary {
  background: $color-white;
  color: $color-black;
  border: 1px solid $color-black;
}

@mixin button-disabled {
  background: $color-disabled;
  color: $color-white;
  cursor: not-allowed;
}

@mixin button-border {
  border: 2px solid $color-primary-500;
  border-radius: 4px;
  background-color: transparent;
  color: $color-gray-9;

  transition:
    border-color 0.2s ease,
    color 0.2s ease;

  &:hover {
    border-color: $color-hover;
  }

  &:active {
    border-color: $color-pressed;
  }

  &:disabled {
    border-color: $color-disabled;
    color: $color-disabled;
    cursor: not-allowed;
  }
}

@mixin button-primary {
  background-color: $color-primary-500;
  border: 2px solid $color-primary-500;
  border-radius: 4px;
  color: $color-gray-0;
  cursor: pointer;

  transition:
    background-color 0.2s ease,
    border-color 0.2s ease;

  &:hover {
    background-color: $color-hover;
    border-color: $color-hover;
  }
  &:active {
    background-color: $color-pressed;
    border-color: $color-pressed;
  }

  &:disabled {
    background-color: $color-disabled;
    border-color: $color-disabled;
    cursor: not-allowed;
  }
}
