@use '../variables' as *;

@mixin text-h1 {
  font-size: 56px;
  line-height: 1.25;
  font-weight: 500;
}

@mixin text-h2 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
}

@mixin text-h3 {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
}

@mixin text-h4 {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
}

@mixin text-body {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
}

@mixin text-body-med {
  font-size: 20px;
  line-height: 1.35;
  font-weight: 500;
}

@mixin text-small-med {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 500;
}

@mixin text-small-reg {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
}

@mixin text-body-regular {
  font-size: 20px;
  line-height: 1.35;
  font-weight: 400;
}

@mixin text-caption {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
}

@mixin africad {
  font-family: 'Afacad';
  font-size: 24px;
  font-weight: 500;
}

@mixin text-color-states {
  color: $color-gray-9;
  transition: color 0.2s ease;

  &:hover {
    color: $color-hover;
  }

  &:active,
  &.has-underline {
    color: $color-pressed;
  }
}

@mixin link-primary {
  color: $color-primary-500;
  text-decoration: underline;
  transition: color 0.2s ease;

  &:hover {
    color: $color-hover;
  }

  &:active {
    color: $color-pressed;
  }
}